* {
    margin: 0px;
    /* border: 2px solid red; */
}

.branding {
    margin: 0px;
    padding-bottom: 0.5rem;
    background-color: deeppink;
    border-bottom: 0.5rem solid rgb(172, 36, 172);
}

.brand {
    margin: 0px auto auto auto;
}

.slogan {
    margin: auto;
}

.content {
    margin-left: 30px;
}

.main-stuff > * {
    display: inline-block;
    vertical-align: top;
    margin: 0 50px 50px 0;
}

.high-protein {
    height: 250px;
    width: 70%;
}

.main-stuff > high-protein {
    margin: 0;
}

.money {
    color: green;
    font-size: 48px;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bolder;
    text-decoration: none;
}